@import "../../app/mixin.scss";


.loadingSpinner {
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-top: 2px solid black;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
