@import "../../app/mixin.scss";

.loadingSpinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-top: 2px solid #000000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}